<div class="main container home">

    <!-- header -->
    <div class="row header">
      <div class="col-lg-12 noPadding">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscar">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"></button>
          </span>
        </div>
      </div>
    </div>

    <!-- filtro -->
    <div class="row filtro">
        <span>Filtrar por:</span> 
        <button type="button" class="btn btn-primary" (click)="orderBy('popularity')">Populariedade</button>
        <button type="button" class="btn btn-primary" (click)="orderBy('viewers')">Visualizações</button>
    </div>

    <!-- lista itens -->
    <div class="row itens search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1500" (scrolled)="onScroll()">
        <div class="col-6 col-xs-2 col-md-4 col-lg-3 col-xl-3 _item" *ngFor="let game of games | filter:buscar">
            <a href="/game/{{game.game._id}}" *ngIf="game">
                <div class="img" [ngStyle]="{'background-image': 'url(' + game.game.box.large + ')'}">
                    <div class="content">
                        <h2>{{game.game.name}}</h2>
                        <p style="display:none;">{{game.viewers}} visualizações</p>
                        <p style="display:none;">{{game.popularity}} popularidade</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>